/* styles.css */
body {
  font-family: Arial, sans-serif;
  line-height: 1;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  text-align: center;
}

p.header {
  text-align: center;
  display: inline-flex; /* "inline flex" corrected to "inline-flex" */
  color: #fff;
  background-color: #00c;
  border: 2px solid blue;
  border-radius: 5px;
  padding: 5px 10px;
  align-items: center;
  line-height: 1; /* Adjusted line-height value */
}

article {
  background-color: white;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #669;
}

a {
  color: #00c;
  text-decoration: none;
}

a:hover {
  color: #009;
}

#css_teach::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgb(255, 255, 255);
  transition: all ease-in-out 0.8s;
}

#css_teach:hover::after {
  width: 100%;
  transition: all ease-in-out 1.2s;
  background: #00c;
}

#css_teach:hover {
  color: rgb(30, 30, 32);
  transition: all 1.5s ease;
}

.imgs {
  width: 100%;
}

#nombre {
  color: #000000;
}

#btn, #bouton_rejouer {
  padding: 8px 15px;
  background-color: #333;
  backface-visibility: hidden;
  color: white;
  border: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  z-index: 2;
  font-size: 16px;
  margin-top: 20px;
  transition: all 1.5s ease;
}

#btn:hover, #bouton_rejouer:hover {
  color: rgb(30, 30, 32);
  background-color: transparent;
  transition: all 1.5s ease;
  z-index: 2;
}

#btn::after, #bouton_rejouer::after {
  border-radius: 5px;
  font-size: 16px;
  content: "";
  color: lightblue;
  text-decoration: none;
  background-color: lightblue;
  border-color: #1d1f21;
  position: relative;
  transition: all 1.5s ease;
  width: 0%;
  top: 49%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
}

#btn:hover::after, #bouton_rejouer:hover::after {
  background-color: lightblue;
  position: absolute; /* "position:static;" corrected to "position: static;" */
  width: 100%;
  transition: all 1.5s ease;
  z-index: -2;
}